{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ProductList</title>
  </head>
  <body>
  	<div class="container">
  	<h1 class="text-center mt-4 mb-4 text-capitalize">List of the Products</h1>
     <div class="table-responsive">
    	<table class="table table-striped table-sm">
    	  <thead class="thead-dark">
    	    <tr>
    	      <th scope="col">SN</th>
    	      <th scope="col">Name</th>
    	      <th scope="col">SLUG</th>
    	      <th scope="col">DESCRIPTION</th>
    	      <th scope="col">PRICE</th>
    	      <th scope="col">IMAGE</th>
    	      <th scope="col">ACTION</th>
    	    </tr>
    	  </thead>
    	{% for product in products %}
    	 {% if product.image %}
    	  <tbody>
    	    <tr>
    	      <th scope="row">{{forloop.counter}}</th>
    	      <td>{{product.name}}</td>
    	      <td>{{product.slug}}</td>
    	      <td>{{product.description}}</td>
    	      <td>{{product.price}}</td>
    	       <td><img src="{{product.image.url}}" alt="Image" height="35px"/> </td>
    	      <td>
    	      	<a class="btn btn-sm btn-primary" href="{% url 'update' product.id %}">Update</a>
    	      	<a class="btn btn-sm btn-danger" href="{% url 'delete' product.id %}">Delete</a>
    	      </td>
    	    </tr>
    	  </tbody>
    	  {% endif %}
        {% endfor %}
    	</table>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>